/*
------------
------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #07d;
  text-decoration: none;
  cursor: pointer;
}
input {
  display: block;
  width: 100%;
  padding: 0 10px;
  height: 45px;
  border: 1px solid #ddd;
  background: transparent;
  border-radius: 6px;
}
button {
  background: #07d;
  color: #fff;
  padding: 0 15px;
  height: 35px;
  border: 0;
  cursor: pointer;
}
button.btn-login {
  display: block;
  border-radius: 4px;
  padding: 0 25px;
}
:focus {
  outline: 0;
}
::placeholder {
  color: #999;
}
body {
  background: #eee;
  font-size: 16px;
  color: #666;
}
.login-form {
  max-width: 450px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form .login-box {
  background: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 0 4px 1px #0003;
}
.login-form h1 {
  margin-bottom: 20px;
  text-align: center;
}
.login-form .form-control {
  margin-bottom: 10px;
}